<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker();
  });
</script>

<%= form_for(@van, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @van.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@van.errors.count, "error") %> prohibited this van from being saved:</h4>

      <ul>
      <% @van.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :driver, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :driver, :class => "form-control", value: current_admin.first_name %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :direction, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :direction, :class => "form-control", placeholder: 'N or S' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :departure_time, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <div class='input-group date' id='datetimepicker1'>
        <%= f.datetime_field :departure_time, type: 'text', class: 'form-control' %>
           <span class="input-group-addon">
             <span class="glyphicon glyphicon-calendar">
             </span>
           </span>
      </div>
    </div>
  </div>








  <div class="form-group">
    <%= f.label :seats_available, :class => "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= f.number_field :seats_available, :class => "form-control" %>
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>

