<div class="page-header container">
  <%= link_to new_van_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Van
  <% end %>
  <h1>Listing vans</h1>
</div>

<div class="table-responsive container">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Driver</th>
            <th>Direction</th>
            <th>Seats available</th>
            <th>Seats occupied</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @vans) do |van| %>
            <td><%= van.driver %></td>
            <td><%= van.direction %></td>
            <td><%= van.seats_available %></td>
            <td><%= van.seats_occupied %></td>
            <td><%= link_to 'Show', van %></td>
        <td><%= link_to 'Edit', edit_van_path(van) %></td>
        <td><%= link_to 'Destroy', van, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
