<div class="page-header">
  <%= link_to vans_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-th-list"></span>
    Back to Schedule
  <% end %>
  <h1>Ticket Details</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= "#{@ticket.first_name} #{@ticket.last_name}" %></dd>

  <dt>Departs at: </dt>
  <dd><%= @ticket.van.stops[0].location + ' on ' + @ticket.van.departure_time.strftime('%a: %b %e, %l:%M %P') %></dd>

  <dt>Confirmation Number:</dt>
  <dd><%= @ticket.id %></dd>

  <dt>QR Code:</dt>
  <br/>

 </dl>

<%  @qr = RQRCode::QRCode.new( @ticket.qrcode, :size => 4, :level => :l ) %>
<% @qr_png = @qr.to_img.resize(400, 400).to_data_url %>
<div class="container">
  <div class="row">
    <%= image_tag @qr_png %>
  </div>
</div>


