<div class="page-header container">
  <h1>Send us a Message</h1>
</div>


<!-- Contact Form -->
<!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
<div class="container">
  <div class="row">
    <div class="col-md-8">

      <%= form_tag 'contact', class: 'form-horizontal' do %>
        <p>Full Name:</p>
        <% if passenger_signed_in? %>
          <%= text_field_tag :full_name, nil, class: 'form-control', value: "#{current_passenger.first_name} #{current_passenger.last_name}" %>
          <p>Email Address:</p>
          <%= email_field_tag :email, nil, class: 'form-control', value: current_passenger.email %>
          <p>Phone Number:</p>
          <%= phone_field_tag :phone, nil, class: 'form-control', value: current_passenger.phone %>
        <% else %>
          <%= text_field_tag :full_name, nil, class: 'form-control' %>
          <p>Email Address:</p>
          <%= email_field_tag :email, nil, class: 'form-control' %>
          <p>Phone Number:</p>
          <%= phone_field_tag :phone, nil, class: 'form-control' %>
        <% end %>
        <p>Message:</p>
        <%= text_area_tag :message, nil, class: 'form-control', style: 'height: 200px' %> <br/>

        <%= button_tag nil, type: 'submit', class: 'btn btn-success btn-lg' do %>
          <span class="glyphicon glyphicon-send"></span>&nbsp Send Message
        <% end %>
      <% end %>

    </div>
    <div class="col-md-4">
      <%= inline_svg('gnome_xl.svg') %>

    </div>
  </div>


</div>
<!-- /.row -->

<hr/>

<div class="contact-foote">
  <ul class="list-unstyled list-inline list-social-icons col-sm-offset-5">
    <li>
      <a href="#"><i class="fa fa-facebook-square fa-4x"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-linkedin-square fa-4x"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-twitter-square fa-4x"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-google-plus-square fa-4x"></i></a>
    </li>
  </ul>
</div>
