<ul class="dropdown-menu" role="menu">
  <% if passenger_signed_in? %>
    <li><%= link_to current_passenger.email, edit_passenger_registration_path %></li>
    <li class="divider"></li>
    <li><%= link_to 'Logout', destroy_passenger_session_path %></li>
  <% elsif admin_signed_in? %>
    <li><%= link_to 'Some admin stuff', root_path %></li>
    <li class="divider"></li>
    <li><%= link_to 'Logout', destroy_admin_session_path, method: :delete %></li>

<% else %>
    <li><%= link_to 'Log in', new_passenger_session_path %></li>
    <li><%= link_to 'Create Account', new_passenger_registration_path %></li>
  <% end %>

</ul>
