<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Gnome2Home</title>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="app/assets/stylesheets/bootstrap.min.css"/>


  <!-- Custom CSS -->
  <link href="modern-business.css" rel="stylesheet"/>

  <!-- Custom Fonts -->
  <link href="app/assets/stylesheets/font-awesome.min.css" rel="stylesheet" type="stylesheet"/>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="color: black;"><%= image_tag('gnome.png', size: '25x25') %> Gnome2Home</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/#about_section">Mission</a>
        </li>
        <li>
          <a href="/vans">Schedule</a>
        </li>
        <li>
          <a href="/map">Map</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span></a>
          <%= render 'layouts/dashboard' %>
        </li>

      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<div class="container" <% if flash.count > 0 %> id="flash-messages" <% else %> id="" <% end %>>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, :class => "alert alert-#{ name == 'alert' ? "danger" : "success" } alert-dismissable" do %>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= msg %>
    <% end %>
  <% end %>

</div>
<%= yield %>


</body>
</html>
